.loader {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#ff765e, #ff5d3a, #ff2470);
  animation: animate 1s linear infinite;
  top: 30%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#ff765e, #ff5d3a, #ff2470);
  left: 50%;
  transform: translateX(-50%);
}

.loader span:nth-child(1) {
  filter: blur(15px);
}

.loader span:nth-child(2) {
  filter: blur(20px);
}

.loader::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: url("../images/logo-musixmatch.png");
  background-size: contain;
  border-radius: 50%;
}