.musix-menu {
  background: rgba(255,255,255, 0.1);
  max-height: 100px;

  a {
    padding: 15px 0;
    color: rgba(0,0,0, .45);
    transition: .2s linear;
    -webkit-transition: .2s linear;

    &:nth-child(2) svg path {
      fill: #ff765e;
    }

    &.active{
      i {
        transition: all .15s linear;
        color: white;
      }
    }
    i, svg {
      font-size: 42px;
      margin-bottom: 8px;
    }
  }
}
