.musix-quiz {
  .song {
    margin: 0;
    background-image: $musix-gradient;
    color: #EEE;
    padding: 2rem;
    min-height: 145px;
    height: calc(100% - 270px);
    border-radius: 15px;
  }
  .musix-answers {
    margin-bottom: 15px;
  }
  a {
    background: #FFF;
    color: #ff5e3b;
    font-size: 20px;
    text-overflow: ellipsis;
    padding: 20px 0;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 1px;
    transition:  .1s linear;
    -webkit-transition:  .1s linear;
    border-radius: 10px;
    margin-bottom: 10px;

    &:focus,
    &:active {
      background: #ff5e3b;
      color: #FFF;
    }
  }
}
.musix-quiz-complete {
  .score {
    font-size: 35px;
  }
}