.musix-user {
  .scores-card {
    background-image: $musix-gradient;
    padding-bottom: 2rem;
    min-height: calc(100% - 270px);
    border-radius: 15px;
    color: #EEE;
  }
  ul {
    li {
      padding: 20px 0;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: bolder;
      font-size: 35px;
      background: none;
      &:nth-child(odd) {
        background: rgba(0,0,0, .4);
        div {
          font-size: 35px;
        }
      }
      &:nth-child(2) {
        background: rgba(0,0,0, .3);
        div {
          font-size: 30px;
        }
      }
      &:nth-child(3) {
        background: rgba(0,0,0, .1);
      }
    }
  }
}
